 <form action="/favorite" method="post">
    <button type="submit" class="bg-yellow-500 px-1 py-1 rounded">AddtoFavorite</button>
    <input type="hidden" name="id" value="<%=homeDetails._id %>">
    
</form> 