 <header class="flex justify-around relative   bg-gray-500  p-3 text-xs sm:text-lg md:text-base font-bold w-full ">
       <a href="/">Home</a>
        <section>
            <ul class="flex gap-4 " >
               <li><a href="/homes" >Home-list</a></li>
                <li><a href="/bookings" >Booking</a></li>
                <li><a href="/favorite" >Favorite</a></li>
                 <li><a href="/host-home-list" >Host-Home</a></li>
                 <li><a href="/contact" >Add Home</a> </li>
                <li><a href="/login" >Login</a></li>
                <li>Q/A</li>
                <li>Help</li>
            </ul>
        </section>
        <!-- <section class="hidden">
         <ul
               <li>About</li>
                <li>Services</li>
                <li>Contact us</li>
                <li>Q/A</li>
                <li>Help</li>
         </ul>
        </section> -->
      
    </header>

   