 <header class="flex justify-around   bg-gray-500  p-3 text-lg font-bold">
       <a href="/">Home</a>
        <section>
            <ul class="flex gap-4">
                <li>About</li>
                <li>Services</li>
                <li>Contact us</li>
                <li>Q/A</li>
                <li>Help</li>
            </ul>
        </section>
      
    </header>

   