 <header class="flex justify-around relative   bg-gray-500  p-3 text-xs sm:text-lg md:text-base font-bold w-full ">
       <a href="/" class="border">Home</a>
        <section>
            <ul class="flex gap-4 " >
               <li><a href="/homes" class="border">Home-list</a></li>
                <li><a href="/bookings" class="border">Booking</a></li>
                <li><a href="/favorite" class="border">Favorite</a></li>
                 <li><a href="/host-home-list" class="border">Host-Home</a></li>
                 <li><a href="/contact" class="border">Add Home</a> </li>
                <li>Contact us</li>
                <li>Q/A</li>
                <li>Help</li>
            </ul>
        </section>
        <!-- <section class="hidden">
         <ul
               <li>About</li>
                <li>Services</li>
                <li>Contact us</li>
                <li>Q/A</li>
                <li>Help</li>
         </ul>
        </section> -->
      
    </header>

   