<%-include ('../partials/head.ejs')%>
<body>
<%-include ('../partials/header.ejs')%>  
  <section class="bg-gray-600 min-h-screen text-center ">
    <h1 class="text-xl p-8">
    This is booking section
  </h1>
  <a href="/">Go to home</a>
  </section>
 
</body>
</html>